
github "Alamofire/Alamofire" ~> 4.7.3
github "Alamofire/AlamofireImage" ~> 3.3.1
github "tristanhimmelman/AlamofireObjectMapper" ~> 5.1.0

github "Swinject/Swinject" ~> 2.4.1
github "Swinject/SwinjectStoryboard" ~> 2.0.2

github "JonasGessner/JGProgressHUD" ~> 2.0.3

github "contentful/contentful.swift" ~> 3.1.2

